<p id="notice"><%= notice %></p>

<div class="index_row clearfix">
  <h1>Todo Lists</h1>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Completed On Time?</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr style="color:<%= todo_list.color %>;">

        <td><%= todo_list.title %></td>
        <td><%= todo_list.description %></td>
        <td><%= todo_list.completed_on_time? %></td>
        <td><%= link_to 'Show', todo_list %></td>
        <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
        <td><%= link_to 'Destroy', todo_list, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% if todo_list.completed? %>
          <td>Task Completed</td>
        <% else %>
          <td><%= link_to "Mark as Complete", complete_todo_list_path(todo_list), method: :patch %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<div class="links">
  <%= link_to 'New Todo List', new_todo_list_path %>
</div>